
.goal-button{
    display: flex; 
    justify-content:center; 
    align-items:center;
    width: 100rem;
    margin-top: 1rem;
    margin-left: 20rem;
}

::ng-deep  .p-button-lg {
    width: 100rem;
    display: flex; 
    justify-content:center; 
    align-items:center;
}

@import  url(https://fonts.googleapis.com/css?family=Montserrat);

$button-bg-color: #3B82F6;
$button-border-color: white;

body{
  font-family: Montserrat;
}



.button{
  display: inline-block;
  padding: 15px;
  margin-top: 2rem;
  margin-left: 29rem;
  height: 3rem;
  min-width: 100px;
  width: 58rem;
  background: $button-bg-color;
  border: none;
  outline: none;
  color: white;
  font-family: inherit;
  font-weight: 400;
  font-size: 20px;
  border-radius: 3px;
  box-shadow: 0 5px 0px darken($button-bg-color,0%);
  border-bottom: 2px solid darken($button-bg-color,3%);
  
  &:hover{
    background: darken($button-bg-color,5%);
    box-shadow: 0 4px 1px darken($button-bg-color,10%);
    border-bottom: 2px solid darken($button-bg-color,10%);
    transition: all 0.1s ease-in;
  }
  
  &:active{
    transform:translateY(4px);
    border-bottom-width: 2px;
    box-shadow: none;
  }
}


.container {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.upload {
  display: flex;
  height: 50px;
}

.filename {
  display: flex;
  box-shadow: inset 0 0 0 1px #ccc;
  height: 50px;
  width: 400px;
  align-items: center;
  padding: 0 12px 0 12px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.browse {
  display: flex;
  position: relative;
  margin-left: 10px;
}

input[type="file"] {
  position: absolute;
  right: 0;
  width: 575px;
  line-height: 50px;
  opacity: 0;
  -moz-opacity: 0;
  -webkit-opacity: 0;
  cursor: pointer;
  outline: solid 2px red;
}

input[type="file"]::file-selector-button,
input[type="file"]::-webkit-file-upload-button {
  width: 100%;
}

label {
  display: inline-block;
  padding: 0 2rem 0 2rem;
  background: #ccc;
}

label > span {
  color: white;
  line-height: 50px;
}

button[type="submit"] {
  background: red;
  height: 50px;
  color: white;
  padding: 0 50px 0 50px;
  margin-left: 10px;
  border: none;
  font-size: inherit;
  cursor: pointer;
}


::ng-deep .p-inputgroup{
  margin-top: 1rem;
}