@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

$mainFont: 'Open Sans', sans-serif;
$mainColor: #333333;

// *{padding: 0px; margin: 0px;}

body {
	background-image: linear-gradient( 135deg, #FAB2FF 10%, #1904E5 100%);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-family: $mainFont;
	color: $mainColor;
}

.box-form {
	margin: 6rem auto;
	width: 80%;	
	background: #FFFFFF;
	border-radius: 10px;
	overflow: hidden;
	
	display: flex;
	flex: 1 1 100%;
  align-items: stretch;
	justify-content: space-between;
	
	box-shadow: 0 0 20px 6px #090b6f85;
	
	
	@media (max-width: 980px) {
		flex-flow:wrap;
		text-align: center;
		align-content: center;
		align-items: center;
	}

	
	div{height: auto;}
	
	.left{
        width: 80%;
		color: #FFFFFF;
		background-size: cover;
		background-repeat: no-repeat;
		background-image: url("https://i.imgur.com/aNTgFxB.jpg");
		overflow: hidden;
        font-family: "Poppins", sans-serif;


		// overlay
		.overlay {
			padding: 30px;
			width: 100%;
			height: 100%;
			background: #1d3557ad;
			overflow: hidden;
			box-sizing: border-box;
			
			h1{
				font-size: 8vmax;
				line-height: 1;
				font-weight: 900;
				margin-top: 40px;
				margin-bottom: 20px;
			}
			
			span {
				p {margin-top: 30px; font-weight: 900;}
				
				a{
					background: #3b5998;
					color:#FFFFFF;
					margin-top: 10px;
					padding: 14px 50px;
					border-radius: 100px;
					display: inline-block;
					box-shadow: 0 3px 6px 1px #042d4657;
				}
				a:last-child{background: #1dcaff; margin-left: 30px;}
			}
		}
	}
	
	.right {
		padding: 40px;
		overflow: hidden;
						
@media (max-width: 980px) {width: 100%;}

		h5{
            font-family: "Poppins", sans-serif;

			font-size: 4vmax;
			line-height: 0;
			// margin-bottom: 30px;
			

		}
		
		p{font-size: 14px; color: #B0B3B9;font-family: "Poppins", sans-serif;}
		
		.inputs{overflow: hidden;}
		
		input{
			width: 100%;
			padding: 10px;
			margin-top: 25px;
			font-size: 16px;
			border: none;
			outline: none;
			border-bottom: 2px solid #B0B3B9;
		}
		
		.remember-me--forget-password {
			display: flex;
			justify-content: space-between;
			align-items: center;
			
			input{
				margin: 0;
				margin-right: 7px;
				width: auto;
			}
		}

		
		
	}
	}





label {

	display: block;
	position: relative;
	margin-left: 30px;
}
label::before{
	content:' \f00c';
	position: absolute;
	font-family: FontAwesome;
	background: transparent;

	border: 3px solid #70F570;
	border-radius: 4px;
	color: transparent;
	left: -30px;
	
	transition: all 0.2s linear;
}

label:hover::before{
	 font-family: FontAwesome;
	content:' \f00c';
	color: #fff;
	cursor: pointer;
	background: #70F570;
}

label:hover::before .text-checkbox{background: #70F570;}
// label span.text-checkbox:hover{background: #70F570;}


label span.text-checkbox {
	display: inline-block;
	height: auto;
	position: relative;
	cursor: pointer;
	transition: all 0.2s linear;
}
label input[type="checkbox"] {display: none;}


.btn {
    width: 20rem;
    background-color: #5995fd;
    border: none;
    outline: none;
    height: 49px;
    border-radius: 49px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    cursor: pointer;
    transition: 0.5s;
    float: right;
  }
  .btn:hover {
    background-color: #4d84e2;
  }