

		<header class="nav__bar__header">
			
			<input type="checkbox" id="check">
			<label for="check" class="check__btn">
			<i class="fas fa-bars"></i>
			</label>
			
			<div class="logo"></div>
			
			<nav class="header__menu__nav">
				<ul class="nav__list">
					<li>
						<a  class="active" href="#">Home</a>
            <a *ngIf="false" href="#">Home</a>

					</li>
					<li>
						<a class="not-active"href="#">About</a>
					</li>
					<li>
						<a   class="not-active" [routerLink]="['/login']">Logout</a>
					</li>
					<li>
						<a   class="user">{{username}}</a>
					</li>
				</ul>
			</nav>
		</header>




<app-dialog  (getGoals)="getGoals()"></app-dialog>

<section class="component__grid">

    <ng-container   class="component__container"  *ngFor="let goalObject of goalArray ">
  
      <app-goal class="component__goal" (getGoals)="getGoals()"
        [id]="goalObject.id"
        [name]="goalObject.name"
        [description]="goalObject.description"
        [targetDate]="goalObject.targetDate"
        [targetAmount]="goalObject.targetAmount"
        [currentAmount]="goalObject.currentAmount"
        [imageSrc]="goalObject.imageSrc"

      ></app-goal>
      </ng-container>

  </section>
  