
<p-toast></p-toast>
<app-topbar [homeFlag]="true" [analyticsFlag]="false" ></app-topbar>
	



<app-dialog  (getGoals)="getGoals()"></app-dialog>

<section class="component__grid">

    <ng-container   class="component__container"  *ngFor="let goalObject of goalArray ">
  
      <app-goal class="component__goal" (getGoalsDeposit)="getGoalsDeposit()" (getGoals)="getGoalsUpdate()"
        [id]="goalObject.id"
        [name]="goalObject.name"
        [description]="goalObject.description"
        [targetDate]="goalObject.targetDate"
        [targetAmount]="goalObject.targetAmount"
        [currentAmount]="goalObject.currentAmount"
        [imageSrc]="goalObject.imageSrc"

      ></app-goal>
      </ng-container>

  </section>

  